.realtime-chat {
  &--form {
    display: flex;
    align-items: end;
    &__name {
    }
    &__message {
    }
    &__send-button {
    }
  }
  &--display {
    &__chat {
      display: flex;
      column-gap: 15px;
      &__name {
        flex: 0 0 200px;
      }
      &__message {
        flex: 1 1 auto;
      }
    }
  }
}
